<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cat Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CatKey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D85662191CB9DAF7005C2889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D856622D1CB9DAF7005C2889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D85662381CB9DAF7005C2889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D856624E1CB9DBA1005C2889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
